<a href="https://colab.research.google.com/github/AntoJo-Segura/python_foundation/blob/main/module_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x= 2
y = 3
z = 4
while z > y:
  z = z - 1
  y = z
print(y)

3

Create a list with numbers between 35 and 50. You can't use "range" function

In [4]:
my_list = []
i = 36
while i <= 49:
    my_list.append (i)
    i += 1
print (my_list)

[36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]